* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  background-color: #121212;
  font-family: 'Georgia', serif;
  color: #f0f0f0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

button {
  font-family: inherit;
  cursor: pointer;
}